<header>
<h1>Web Development Program Course Schedule</h1>
<p>In the schedule below, you can see which courses I will study during the two years of the web development program. </p>
   <p>Sorting is done by clicking on column names. The link on the course code goes to the course description on the university's website.</p>
</header>

<div *ngIf="error" class="error">{{ error }}</div>
<ng-template #noDataTemplate>
  <p class="error">No courses available.</p>
</ng-template>
<input type="text" placeholder="Search courses..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()">

<table *ngIf="courses.length; else noDataTemplate">
    <thead>
        <tr>
          <th (click)="sort('code')">Course Code</th>
          <th (click)="sort('coursename')">Course Name</th>
          <th (click)="sort('progression')">Progression</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td><a href="{{ course['syllabus'] }}" target="_blank">{{ course['code'] }}</a></td>
            <td>{{ course['coursename'] }}</td>
            <td>{{ course['progression'] }}</td>
           
          </tr>
      </tbody>
</table>

